*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.debug{
  border : 1px solid black;
}


body{
  background-color: lightgreen;
}

.row{
  min-height: 500px;
}


.col-6{
  height: 250px;
}

.dado1,
.dado2{
  background:rgb(195, 75, 67);
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
